# Pi Network
PI_API_BASE=https://api.minepi.com/v2
PI_API_KEY_MAINNET=6lifkvyifbb52pwdopy6lqrhf2u744sfii0jvgsniv0vou234ibusmp06ofhipd9
PI_API_KEY_TESTNET=gluaaco1yubwjtuuavulxrgrynnwr6ztgtcydpzyvzosq3t4mqzgk5hjhwadrjo8
ALLOW_DEV_FALLBACK=true

# MongoDB
MONGODB_URI=mongodb+srv://theo2280:Gboclizagboto%401@cluster0.ex5quvd.mongodb.net/video-language-changer?retryWrites=true&w=majority&appName=Cluster0 

# TTS
TTS_ENGINE=espeak
# ou: TTS_ENGINE=piper
PIPER_BIN=/app/bin/piper
PIPER_MODEL=/app/models/voice.onnx
PIPER_MODEL_CONFIG=/app/models/voice.onnx.json

# Whisper
WHISPER_MODEL=base

# App
APP_URL=http://localhost:3000
PORT=3000
