PORT=3000

# Pi Network
PI_API_BASE=https://api.minepi.com/v2
PI_API_KEY_MAINNET=
PI_API_KEY_TESTNET=
ALLOW_DEV_FALLBACK=false

# MongoDB Atlas
MONGODB_URI=mongodb+srv://theo2280:<db_password>@cluster0.ex5quvd.mongodb.net/?appName=Cluster0

# TTS & Whisper
TTS_ENGINE=piper
PIPER_BIN=/app/bin/piper
PIPER_MODEL=/app/models/voice.onnx
PIPER_MODEL_CONFIG=/app/models/voice.onnx.json
WHISPER_MODEL=base

# Domaine / sécurité
APP_URL=https://video-language-changer-s1ub.onrender.com
